apiVersion: apps/v1
kind: Deployment
metadata:
  name: oauth2-proxy
  namespace: traefik
spec:
  template:
    spec:
      containers:
      - name: oauth2-proxy
        args:
          - --http-address=0.0.0.0:4180
          - --provider=oidc
          - --oidc-issuer-url=https://login.microsoftonline.com/abfcbee8-658f-4ab3-97f5-9b357e0f8cda/v2.0
          - --redirect-url=https://auth.oremuslabs.app/oauth2/callback
          - --email-domain=*
          - --upstream=file:///dev/null
          - --cookie-samesite=lax
          - --cookie-secret={{ index .Values.oauth2-proxy.extraArgs "cookie-secret" }}
          - --oidc-groups-claim=groups
          - --pass-authorization-header=true
          - --set-xauthrequest=true
          - --skip-jwt-bearer-tokens=true
          - --scope=openid profile email offline_access
        env:
          - name: OAUTH2_PROXY_CLIENT_ID
            valueFrom:
              secretKeyRef:
                name: oauth2-proxy-secret
                key: oidc.azure.clientId
          - name: OAUTH2_PROXY_CLIENT_SECRET
            valueFrom:
              secretKeyRef:
                name: oauth2-proxy-secret
                key: oidc.azure.clientSecret
          - name: OAUTH2_PROXY_COOKIE_SECRET
            value: {{ .Values.oauth2-proxy.extraArgs.cookie-secret }}
          - name: OAUTH2_PROXY_COOKIE_SECRET
            value: {{ index .Values.oauth2-proxy.extraArgs "cookie-secret" }}
