# Copy to backend.tf and edit as needed.
# Uses MinIO as an S3-compatible backend.

terraform {
  backend "s3" {
    bucket                      = "workspaces"
    key                         = "infra/entra-oidc/terraform.tfstate"
    region                      = "us-east-1"
    endpoint                    = "https://minio.oremuslabs.app"
    skip_credentials_validation = true
    skip_region_validation      = true
    skip_metadata_api_check     = true
    force_path_style            = true
  }
}
