apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: coredns
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: platform
  source:
    repoURL: https://github.com/Oremus-Labs/ol-kubernetes-cluster
    targetRevision: HEAD
    path: apps/platform/coredns/chart
    helm:
      releaseName: oremuslabs-dns
  destination:
    server: https://kubernetes.default.svc
    namespace: coredns
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
