apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: knative-serving

resources:
  # Knative Serving v1.16.0 official manifests
  - https://github.com/knative/serving/releases/download/knative-v1.16.0/serving-crds.yaml
  - https://github.com/knative/serving/releases/download/knative-v1.16.0/serving-core.yaml

patchesStrategicMerge:
  - patches/config-domain.yaml
  - patches/config-network.yaml
  - patches/config-autoscaler.yaml
