apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: knative-serving

resources:
  # Knative Serving CRDs
  - serving-crds.yaml
  # Knative Serving Core
  - serving-core.yaml
  # Kourier networking layer (lightweight option)
  - kourier.yaml

patches:
  # Configure Knative to use Kourier
  - target:
      kind: ConfigMap
      name: config-network
      namespace: knative-serving
    patch: |-
      apiVersion: v1
      kind: ConfigMap
      metadata:
        name: config-network
        namespace: knative-serving
      data:
        ingress-class: kourier.ingress.networking.knative.dev
