{{- if and .Values.ingress.websocketStripPrefix .Values.ingress.websocketPathPrefix }}
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: {{ printf "%s-ws-strip" .Release.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  replacePathRegex:
    regex: '^{{ trimSuffix "/" .Values.ingress.websocketPathPrefix }}/(.*)'
    replacement: '/$1'
{{- end }}
