{{- if and .Values.app.enabled .Values.gatewayApi.enabled }}
apiVersion: gateway.networking.k8s.io/v1
kind: HTTPRoute
metadata:
  name: {{ include "kserve-models-web-app.fullname" . }}
  namespace: {{ include "kserve-models-web-app.namespace" . }}
  labels:
    {{- include "kserve-models-web-app.labels" . | nindent 4 }}
    {{- include "kserve-models-web-app.kustomizeLabels" . | nindent 4 }}
    {{- if .Values.kubeflow.enabled }}
    {{- include "kserve-models-web-app.kserveLabels" . | nindent 4 }}
    {{- end }}
    {{- with .Values.gatewayApi.labels }}
    {{- toYaml . | nindent 4 }}
    {{- end }}
  {{- with .Values.gatewayApi.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
  hostnames:
  {{- range .Values.gatewayApi.hosts }}
  - {{ . | quote }}
  {{- end }}
  parentRefs:
  {{- range .Values.gatewayApi.parentRefs }}
  - name: {{ .name }}
    {{- if .namespace }}
    namespace: {{ .namespace }}
    {{- end }}
    {{- if .sectionName }}
    sectionName: {{ .sectionName }}
    {{- end }}
  {{- end }}
  rules:
  - matches:
    - path:
        type: {{ .Values.gatewayApi.pathMatchType }}
        value: {{ .Values.gatewayApi.pathMatchValue }}
    backendRefs:
    - name: {{ include "kserve-models-web-app.serviceName" . }}
      port: {{ .Values.service.port }}
{{- end }}
