apiVersion: v1
kind: ConfigMap
metadata:
  name: coredns-custom
  namespace: kube-system
data:
  50-oremuslabs.server: |
    oremuslabs.app:53 {
        log
        errors
        hosts {
            10.10.10.52 argocd.oremuslabs.app
            fallthrough
        }
        forward . 1.1.1.1 1.0.0.1
        cache 60
    }
