{{- $vault := .Values.apiToken.onepasswordVaultID | default "" }}
{{- $item := .Values.apiToken.onepasswordItemID | default "" }}
{{- if and .Values.apiToken.enabled .Values.apiToken.createSecret (eq $vault "") (eq $item "") }}
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.apiToken.secretName }}
  namespace: {{ .Values.namespace }}
type: Opaque
stringData:
  {{ .Values.apiToken.secretKey }}: {{ required "Set apiToken.value when createSecret=true" .Values.apiToken.value | quote }}
{{- end }}
{{- if and .Values.apiToken.enabled (ne $vault "") (ne $item "") }}
apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: {{ .Values.apiToken.secretName }}
  namespace: {{ .Values.namespace }}
spec:
  itemPath: {{ printf "vaults/%s/items/%s" $vault $item | quote }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.apiToken.secretName }}
  namespace: {{ .Values.namespace }}
type: Opaque
stringData:
  {{ .Values.apiToken.secretKey }}: op://{{ $vault }}/{{ $item }}/{{ .Values.apiToken.onepasswordField | default "token" }}
{{- end }}
