apiVersion: v1
kind: PersistentVolume
metadata:
  name: venus-model-storage
spec:
  capacity:
    storage: 200Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: venus-local-storage
  local:
    path: /mnt/ai-model-cache
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
            - key: kubernetes.io/hostname
              operator: In
              values:
                - venus
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: venus-model-storage
  namespace: {{ .Values.namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 200Gi
  storageClassName: venus-local-storage
  volumeName: venus-model-storage
