apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ai-model-cache
  namespace: {{ .Values.namespace }}
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
  storageClassName: longhorn
