apiVersion: apps/v1
kind: Deployment
metadata:
  name: headlamp
  namespace: headlamp
spec:
  template:
    spec:
      containers:
      - name: headlamp
        envFrom:
        - secretRef:
            name: headlamp-oidc
        command: ["/bin/sh", "-c"]
        args:
        - >
          exec headlamp
          -in-cluster
          -plugins-dir=/headlamp/plugins
          -oidc-client-id=${OIDC_CLIENT_ID}
          -oidc-client-secret=${OIDC_CLIENT_SECRET}
          -oidc-idp-issuer-url=${OIDC_ISSUER_URL}
          -oidc-scopes=${OIDC_SCOPES}
          -oidc-callback-url=${OIDC_CALLBACK_URL}
          -oidc-validator-client-id=${OIDC_VALIDATOR_CLIENT_ID}
          -oidc-validator-idp-issuer-url=${OIDC_VALIDATOR_ISSUER_URL}
          -oidc-use-access-token=${OIDC_USE_ACCESS_TOKEN}
