apiVersion: argoproj.io/v1alpha1
kind: ApplicationSet
metadata:
  name: argocd-config
  namespace: argocd
spec:
  generators:
    - clusters: {}
  template:
    metadata:
      name: '{{name}}-argocd-config'
    spec:
      project: platform
      destination:
        server: '{{server}}'
        namespace: argocd
      source:
        repoURL: https://github.com/Oremus-Labs/ol-kubernetes-cluster
        targetRevision: HEAD
        path: apps/platform/argocd-config/overlays/admin-password
      syncPolicy:
        automated:
          prune: true
          selfHeal: true
        syncOptions:
          - CreateNamespace=true
