apiVersion: apps/v1
kind: Deployment
metadata:
  name: homepage
  labels:
    app: homepage
spec:
  replicas: 1
  selector:
    matchLabels:
      app: homepage
  template:
    metadata:
      labels:
        app: homepage
    spec:
      containers:
      - name: homepage
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 3000
          name: http
        env:
        - name: HOMEPAGE_ALLOWED_HOSTS
          value: {{ join "," .Values.allowedHosts | quote }}
        - name: HOMEPAGE_CONFIG_DIR
          value: /app/config
        volumeMounts:
        - name: config
          mountPath: /app/config
        - name: logs
          mountPath: /app/config/logs
      initContainers:
      - name: homepage-config-init
        image: busybox:1.36
        command: ["/bin/sh","-c"]
        args:
        - |
          cp -aL /config-src/* /config
        volumeMounts:
        - name: config-src
          mountPath: /config-src
        - name: config
          mountPath: /config
      volumes:
      - name: logs
        emptyDir: {}
      - name: config
        emptyDir: {}
      - name: config-src
        configMap:
          name: homepage-config
