apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: homepage
spec:
  entryPoints:
  - websecure
  routes:
  - kind: Rule
    match: Host(`{{ .Values.ingress.host }}`)
    services:
    - name: homepage
      port: 80
  {{- if .Values.ingress.tlsSecret }}
  tls:
    secretName: {{ .Values.ingress.tlsSecret }}
  {{- end }}
