apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: oauth2-proxy-auth
  namespace: traefik
spec:
  forwardAuth:
    address: https://traefik.oremuslabs.app/oauth2/start?rd=https%3A%2F%2Ftraefik.oremuslabs.app%2Fdashboard%2F
    trustForwardHeader: true
    authResponseHeaders:
      - X-Auth-Request-User
      - X-Auth-Request-Email
      - X-Auth-Request-Groups
