fullnameOverride: ""

replicaCount: 1

image:
  repository: ghcr.io/huggingface/text-embeddings-inference
  tag: "cpu-latest"
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8080
  targetPort: 80

resources:
  requests:
    cpu: 500m
    memory: 2Gi
  limits:
    cpu: "2"
    memory: 6Gi

env:
  model: "BAAI/bge-base-en-v1.5"
  revision: ""

embeddingSecret:
  create: true
  name: deep-research-embedding
  onepassword:
    itemPath: "vaults/fekk46izlezqrgocthhcn4xwp4/items/hpc2jztu7q6hiytellqy3tttcy"
