apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: searxng
  namespace: searxng
spec:
  entryPoints:
  - websecure
  routes:
  - kind: Rule
    match: Host(`search.oremuslabs.app`)
    services:
    - name: searxng
      port: 8080
  tls:
    secretName: oremuslabs-app-wildcard-tls
