apiVersion: v1
kind: ConfigMap
metadata:
  name: config-domain
  namespace: knative-serving
data:
  # Use knative.oremuslabs.app as the default domain for external access
  knative.oremuslabs.app: ""
