apiVersion: v1
kind: ConfigMap
metadata:
  name: config-network
  namespace: knative-serving
data:
  # Use Istio as the ingress
  ingress-class: "istio.ingress.networking.knative.dev"
  # Enable automatic creation of ClusterDomainClaims for DomainMappings
  autocreate-cluster-domain-claims: "true"
