apiVersion: serving.kserve.io/v1beta1
kind: InferenceService
metadata:
  name: qwen3-0-6b
  namespace: {{ .Values.namespace }}
  annotations:
    serving.kserve.io/secretName: {{ .Values.huggingface.secretName }}
  labels:
    app.kubernetes.io/part-of: qwen-vllm
spec:
  predictor:
    minReplicas: 1
    nodeSelector:
      kubernetes.io/hostname: {{ .Values.node.hostname }}
    tolerations:
      - key: "amd.com/gpu"
        operator: Exists
        effect: NoSchedule
    model:
      modelFormat:
        name: custom
      runtime: {{ .Values.runtime.name }}
      storageUri: {{ .Values.model.storageUri }}
