apiVersion: v1
kind: Namespace
metadata:
  name: {{ .Values.namespace }}
  annotations:
    argocd.argoproj.io/tracking-id: workloads-qwen-vllm:/Namespace:{{ .Values.namespace }}/{{ .Values.namespace }}
  labels:
    app.kubernetes.io/part-of: qwen-vllm
