open-webui:
  image:
    repository: ghcr.io/open-webui/open-webui
    tag: "0.6.36"
    pullPolicy: IfNotPresent

  persistence:
    enabled: true
    size: 10Gi
    storageClass: ""
    accessModes:
      - ReadWriteOnce

  serviceAccount:
    create: true
    name: ""

  ollama:
    enabled: false

  pipelines:
    enabled: false

  tika:
    enabled: false

  ingress:
    enabled: false

  config:
    secrets: {}
    environment: {}

# Traefik ingressroute
ingress:
  host: openwebui.oremuslabs.app
  tlsSecret: oremuslabs-app-wildcard-tls
  websocketPathPrefix: /ws
  middleware:
    enabled: true
    name: oauth2proxy-forwardauth
    namespace: traefik
