apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
patches:
  - target:
      kind: Secret
      name: argocd-secret
      namespace: argocd
    path: argocd-secret-patch.yaml
