{{- if and .Values.bitbucket.tokenSecret.create .Values.bitbucket.tokenSecret.onepassword.itemPath }}
apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: {{ .Values.bitbucket.tokenSecret.name }}
  namespace: {{ .Release.Namespace }}
spec:
  itemPath: {{ .Values.bitbucket.tokenSecret.onepassword.itemPath | quote }}
{{- end }}
