{{- if and .Values.bitbucket.tokenSecret.create .Values.bitbucket.tokenSecret.onepassword.itemPath }}
apiVersion: onepassword.com/v1
kind: OnePasswordItem
metadata:
  name: {{ .Values.bitbucket.tokenSecret.name }}
  namespace: {{ $.Release.Namespace }}
  annotations:
    argocd.argoproj.io/sync-wave: "-2"
    argocd.argoproj.io/tracking-id: {{ printf "%s:%s/%s" $.Release.Name "OnePasswordItem" .Values.bitbucket.tokenSecret.name }}
spec:
  itemPath: {{ $secret.onepassword.itemPath | quote }}
{{- end }}
