{{- if and .Values.ingressRoute.enabled .Values.ingressRoute.host }}
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: {{ .Release.Name }}
  namespace: {{ .Release.Namespace }}
spec:
  entryPoints:
  {{- range .Values.ingressRoute.entryPoints }}
    - {{ . }}
  {{- end }}
  routes:
    - kind: Rule
      match: Host(`{{ .Values.ingressRoute.host }}`)
      {{- if .Values.ingressRoute.middlewares }}
      middlewares:
        {{- range .Values.ingressRoute.middlewares }}
        - name: {{ .name }}
          {{- if .namespace }}
          namespace: {{ .namespace }}
          {{- end }}
        {{- end }}
      {{- end }}
      services:
        - name: {{ .Release.Name }}
          namespace: {{ .Release.Namespace }}
          port: {{ .Values.ingressRoute.servicePort }}
  tls:
    secretName: {{ .Values.ingressRoute.tlsSecret }}
{{- end }}
